
<header>
    <div id="main-header">
        <div id="title-header">Socials</div>
    
        <div id="list-header">
            <ul>
                <% if(locals.user){%>
                 <li>
                     <a href="/user/signout">SignOut</a>
                 </li>
                 <% } else {%>
                     <li>
                         <a href="/user/signin">SignIn</a>
                         <a href="/user/signup">SignUp</a>
                     </li>
                     <% } %>
             </ul>
        </div>
       
    </div>
   
</header>

