<header>
    Page Header
</header>

<ul>
   <% if(locals.user){%>
    <li>
        <a href="/user/signout">Sign Out</a>
    </li>
    <% } else {%>
        <li>
            <a href="/user/signin">Sign In</a>
            <a href="/user/signup">Sing Up</a>
        </li>
        <% } %>
</ul>