<h1>Hey <%= oldUser.user.name %>
</h1>
<form action="/user/changePassword/" method="post">
    <input type="password" name="password" placeholder="Your password" required>
    <input type="password" name="Reconfirm-password" placeholder="Reconfirm password" required>
    <input type="hidden" name="userid" value="<%=oldUser.user._id%>">
    <button type="submit">update</button>
</form>