    <link rel="stylesheet" href="/css/userProfile.css">
    <h1>
        User Profile
    </h1>
  <ul>
            <% for(let i of userList) { %> 
                <li>
                  <p><%= i.name %></p>
                  <p><%= i.email %></>
                   <p><%= i.password %></>
                </li>
            <% } %>
        </ul> 
   