<h1>Sign In</h1>
<link rel="stylesheet" href="/css/signup.css">
<form action="/user/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Enter your Email id" required>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>
    <button type="submit">Submit</button>
</form>
<p>
    <a href="/user/auth/google">Google SignIn/SignUp</a>
</p>