<h1>Sign In</h1>
<link rel="stylesheet" href="/css/signup.css">
<form action="/user/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Enter your Email id">
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <button type="submit">Submit</button>
</form>