<h1>Sign Up</h1>
<link rel="stylesheet" href="/css/signup.css">
<form action="/user/create-user" method="post">
    <input type="name" name="name" id="name" placeholder="Enter your Name ">
    <input type="email" name="email" id="email" placeholder="Enter your Email id">
    <input type="email" name="confirmEmail" id="email" placeholder="Confirm your Email id">
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <button type="submit">Submit</button>
</form>