<link rel="stylesheet" href="/css/signup.css">
<h1>Hey <%= forgetPasswordInstance.user.name %>
</h1>
<p>
    please click on the below link which can be used to reset your password
    <a href="http://localhost:8000/user/resetPassword?accesstoken=<%= forgetPasswordInstance.accessToken %>">
        Click me to Reset password
    </a>
</p>
<p>
    Thanks & Regards for the codial Team
</p>